.back-link {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4rem;
  height: 100%;

  .back-link-arrow {
    position: absolute;
    font-size: 3rem;
    top: 50%;
    left: 1.2rem;
    margin-top: -25px;
  }

  &:hover {
    background-color: $light-second-color;
  }

  @media (max-width: $screen-m) {
    display: none;
  }
}

.line {
  background-color: $second-color;
  height: 1px;
  width: 300px;
  display: flex;
  align-items: center;
}

.social-links {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 150px;
  height: 50px;
  justify-content: space-between;

  li {
    list-style: none;
  }

  a {
    font-size: 1.1rem;
  }

  @media (max-width: $screen-m) {
    width: 200px;

    a {
      font-size: 1.2rem;
    }
  }
}

.post-icon {
  background-color: $second-color;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 28px;
  text-align: center;
  color: #fff;
  transition: all .3s ease;
  font-size: 1rem;

  &:hover {
    transform: scale(1.2, 1.2);
    transition: all .3s ease;
  }
}
