$font-family: Lato, Arial, sans-serif;

$bg-color: #f7f8f9;
$main-color: rgba(0, 0, 0, .8);
$second-color: #999988;
$border-color: rgba($second-color, .5);
$light-second-color: rgba($second-color, .3);

$screen-s: 600px;
$screen-m: 950px;
