@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url("https://use.fontawesome.com/releases/v5.0.4/css/all.css");


/* Base */
:root {
  --font-family: Lato, Arial, sans-serif;

  --white: #fff;
  --bg-color: #f7f8f9;
  --main-color: rgba(0, 0, 0, .8);
  --second-color: #999988;
  --second-color-10-darken: #80806f;
  --border-color: rgba(var(--second-color), .5);
}

html,
body {
  -webkit-overflow-scrolling: touch;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-family);
  color: var(--main-color);
  border-top: 3px solid var(--second-color);
  margin: 0;
}

@media (max-width: 600px) {
  body {
    padding: 10px 15px;
  }
}

@media (min-width: 600px) and (max-width: 950px) {
  body {
    padding: 20px;
  }
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0 .5rem;
}

h2 {
  font-size: 1.8rem;
  text-align: center;
  margin: 5rem 0 .5rem;
}

h3 {
  font-size: 1.2rem;
  margin: 1rem 0 .2rem 0;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

b {
  display: inline-block;
}

a {
  transition: all .3s ease;
  color: var(--second-color);
}

a:hover {
  transition: all .3s ease;
  color: var(--main-color);
}


/* Index */
.header,
.main,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 640px;
}

.header {
  padding-top: 110px;
}

.header__about {
  color: var(--second-color);
  font-weight: 300;
  padding-bottom: 40px;
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.4;
}

.header__avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-image: url("/avatar.jpg");
  background-size: cover;
  transition: all .3s ease;
  position: relative;
}

.header__avatar:hover {
  transform: scale(1.1, 1.1);
  transition: all .3s ease;
}

.line {
  background-color: var(--second-color);
  height: 1px;
  width: 300px;
}

.link {
  color: var(--second-color-10-darken);
}

.social {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  height: 50px;
}

.social__item {
  list-style: none;
  margin: 0 11px;
}

.social__cv {
  font-size: .9rem;
  font-weight: bold;
}

@media (max-width: 950px) {
  .social__item {
    margin: 0 16px;
  }
}

.social__link {
  font-size: 1.1rem;
  text-decoration: none;
}

@media (max-width: 950px) {
  .social__link {
    font-size: 1.2rem;
  }
}

.list {
  padding: 0 1rem;
  width: 100%;
}

.list__item {
  padding-left: 50px;
  margin-bottom: 10px;
  list-style: none;
  position: relative;
  overflow: hidden;
  line-height: 1.5;
}

.list__text {
  font-size: .8rem;
  line-height: 1.5;
}

.list__pet {
  font-size: .8rem;
  list-style-type: none;
}

.list__pet-title {
  min-width: 50px;
}

.list__pet-item {
  display: flex;
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .list__pet-item {
    flex-direction: column;
  }
}

.list__icon {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 28px;
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 5px;
  background-color: var(--white);
  border: 1px solid rgba(153, 153, 136, .5);
  color: var(--second-color);
  transition: all .3s ease;
}

.list__icon:hover {
  transform: scale(1.2, 1.2);
  transition: all .3s ease;
}

.list__link {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem 0 .2rem 0;
}

.list__link:hover .list__icon {
  transform: scale(1.2, 1.2);
  transition: all .3s ease;
}

.footer {
  margin: 140px 0 0 0;
}

.footer__text {
  color: var(--second-color);
  font-size: .9rem;
  padding: 1.5rem;
  margin: 0;
}
