.about-me {
  color: $second-color;
  font-weight: 300;
  padding-bottom: 30px;
  text-align: center;
}

.line {
  background-color: $second-color;
  height: 1px;
  width: 300px;
  display: flex;
  align-items: center;
}

.avatar {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-image: url("images/avatar.jpg");
  background-size: cover;
}

.home-content {
  padding: 50px 0 140px;
  width: 100%;
}

.posts-heading {
  font-size: 1.8rem;
  text-align: center;
}

.post-list {
  padding: 0 1rem;
}

.post-item {
  padding-left: 50px;
  margin-bottom: 10px;
  list-style: none;
  position: relative;
  overflow: hidden;

  &:last-child {
    margin-bottom: 0;
  }

  h2 {
    font-size: 1.2rem;
    margin: 1rem 0 .2rem 0;
  }

  .post-meta {
    font-size: .8rem;
  }

  .post-icon {
    background-color: $second-color;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 22px;
    left: 0;
    border-radius: 50%;
    line-height: 28px;
    text-align: center;
    color: #fff;
  }
}

.social-links {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100px;
  height: 40px;
  justify-content: space-between;

  li {
    list-style: none;
  }

  a {
    font-size: 1.1rem;
  }
}
