<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ site.description }}">
    <title>
      {{ site.title }}
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <ul class="social-links">
      {% for social in site.social %}
        <li>
          <a class="icon-{{ social.icon }}" href="{{ social.url }}" target="_blank">
            <i class="fa fa-{{ social.icon }}"></i>
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="content">
      {{ content }}
    </div>

    <footer class="footer">
      <div class="line"></div>
      <p>
        © Copyright 2016 Marat Fakhreev
      </p>
    </footer>
  </body>
</html>
